.list-item {
  width: 80%;
  background-color: #fff;
  margin: 10px auto;
  min-height: 40px;
  max-height: 40px;
  position: relative;
}

.title {
  position: absolute;
  left: 10%;
}

.delete-btn {
  position: absolute;
  right: 10%;
}
