.violation-li {
  position: relative;

  width: 80%;
  min-height: 40px;
  margin: 10px auto;

  background-color: var(--main-color);

  border-radius: 10px;
}

.violation-li--with-description {
  min-height: 100px;
}

.violation-li__description {
  width: 90%;
  margin: 45px auto;

  color: var(--undertext-color);
}

.violation-li__description-text {
  margin-top: 5px;

  font-size: 13px;

  overflow-wrap: break-word;
}

.violation-li__underline {
  border: solid 1px var(--main-color-dark);
}

.violation-li__title,
.violation-li__delete-btn {
  position: absolute;
  top: 20px;

  font-size: 16px;

  transform: translateY(-50%);
}

.violation-li__title {
  left: 5%;

  font-weight: bold;

  color: var(--text-color);
}

.violation-li__title--long {
  margin-right: 10%;

  font-size: 15px;

  word-break: break-all;
}

.violation-li__delete-btn {
  width: 20px;
  height: 20px;

  right: 5%;

  background-color: #d34646;

  border-radius: 50%;
  border: none;
}

.violation-li__delete-btn-icon {
  position: absolute;
  left: 50%;
  top: 50%;

  color: #fff;

  transform-origin: top left;
  rotate: 45deg;
  transform: translate(-50%, -50%);
}

.violation-li__delete-btn:hover {
  background-color: #b33b3b;
  cursor: pointer;
}
